<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% asset 'base.css' %}" />
</head>
<body>
    {% block body %}
        <nav>
            <a href="{% url "home" %}">Home</a>
            {% for page in pages %}
                <a href="{% url "page", page %}">{{ page.title }}</a>
            {% endfor %}
        </nav>
        <div class="content-width">
            {% block content_area %}
            {% endblock %}
        </div>
    {% endblock %}
</body>